.m-0 {
  margin: 0;
}

.main ion-icon {
  align-self: center;
  font-size: 25px;
  color: green;
  vertical-align: middle;
  justify-content: center;
}

.signal-row {
  justify-content: left;
}

.signal-row h5 {
  text-align: left;
}


.tag {
  padding: 5px 10px 5px 10px;
  background-color: #4854e0;
  border-radius: 20px;
  color: white;
  width: fit-content;
  margin-right: 5px;
}

.no-tag {
  color: gray;
}

.logout-btn {

}

.state-radio-btn {
  padding: 5px;
}
